<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Pessoas</h1>
    <a href="/form"><button type="button">Adicionar</button></a>
    <hr>

    {% for pessoa in lista_pessoa %}
        <p>Nome: {{ pessoa.nome }}</p>
        <p>Sobrenome: {{ pessoa.sobrenome }}</p>
        <p>Idade:  {{ pessoa.idade }}</p>
        <p>Cidade: {{ pessoa.cidade }}</p>
        <br>
        <hr>

    {% endfor %}
</body>
</html>